<section class="dp dpy-half">
    <div class="bido-container">
        <!-- <div *ngIf="users.length > 0;"> -->
        <div>
            <div *ngIf="products.length > 0;">
                <div class="bd-table basket-table">
                    <div class="h">
                        <div></div>
                        <div>Ürün Bilgileri</div>
                        <div>Adres</div>
                        <div>Telefon</div>
                        <div>Fiyat</div>
                    </div>
                    <div class="b">
                        <div *ngFor="let product of products">
                            <div>
                                <img [src]="'http://localhost:5203' + product?.mainImage" alt="{{ product?.name }}">
                            </div>
                            <div>
                                <strong>{{ product?.name }}</strong>
                                <p>{{ product?.description }}</p>
                            </div>
                            <div>{{ product?.district }} / {{ product?.city }}</div>
                            <div>{{ product?.sellerPhone }}</div>
                            <div>{{ product?.discountedPrice }} TL</div>
                            <div>
                                <button class="btn btn-red" (click)="deleteProductBasket(product.id)"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-wrapper full">
                    <div class="__3 mt-10">
                        <div class="bd-input">
                          <label for="firstName">İl</label>
                          <div>
                            <input type="text" id="city" [(ngModel)]="city">
                          </div>
                        </div>
                        <div class="bd-input">
                          <label for="firstName">İlçe</label>
                          <div>
                            <input type="text" id="district" [(ngModel)]="district">
                          </div>
                        </div>
                        <div class="bd-input">
                          <label for="firstName">Posta Kodu</label>
                          <div>
                            <input type="text" id="postalcode" [(ngModel)]="postalCode">
                          </div>
                        </div>
                    </div>
                    <div class="__2">
                        <div class="bd-input">
                          <label for="firstName">Açık Adres</label>
                          <div>
                            <textarea name="openAddress" [(ngModel)]="openAddress" id="" placeholder="Mahalle, Sokak, Apartman, Kat, Daire"></textarea>
                          </div>
                        </div>
                        <div class="bd-input">
                            <label for="description">Sipariş Notunuz:</label>
                            <div>
                                <textarea id="description" [(ngModel)]="note" placeholder="Siparişiniz hakkında belirtmek istediğiniz bir şey var mı?"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total-payment">
                    <span>Toplam Fiyat: <strong>{{totalPrice}} TL</strong></span>
                    <button class="btn btn-main btn-lg" (click)="approveBasket()">Sepeti Onayla</button>
                </div>
            </div>
            <div *ngIf="products.length == 0;">
                <h3>Sepetinizde ürün bulunmamaktadır.</h3>
            </div>
        </div>
        
    </div>
</section>