<section class="dp dpy">
    <div class="bido-container">
        <div class="header-template">
            <small>NEARBY PRODUCTS</small>
            <h2>All Products</h2>
            <p>Most visited products by our users</p>
        </div>
        <div class="select-form mb-10">
            <span class="filter-result">
                <strong>{{ products.length }}</strong> products, <strong>{{ filteredProducts.length }}</strong> listed
            </span>
            <div class="bd-input">
                <div>
                    <select (change)="updateFilter($event)">
                        <option value="all">All cities</option>
                        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                    </select>
                </div>
            </div>
            <!-- <button (click)="filterProducts()">Filter</button>
            <button (click)="resetFilters()">Clear</button> -->
        </div>
        <!-- Product list -->
        <div class="bd-wrapper-1" *ngIf="filteredProducts.length > 0">
            <a *ngFor="let product of filteredProducts" routerLink="/product-detail/{{ product.id }}" class="content-template-2">
                <div class="img">
                    <img [src]="apiUrl + product.mainImage" alt="{{ product.name }}" width="150">
                </div>
                <div class="detail">
                    <strong>{{ product.name }}</strong>
                    <p>{{ product.description }}</p>
                    <div class="price">
                        <del *ngIf="product.price">{{ product.price }} TL</del>
                        <strong *ngIf="product.discountedPrice">{{ product.discountedPrice }} TL</strong>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>