<section class="dp dpy-half">
  <div class="bido-container">
    <div class="header-template">
      <h2>Update User</h2>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="updateUser()" class="form-wrapper limit">
      <div class="__3">
        <div class="bd-input">
          <label for="firstName">First Name:</label>
          <div>
            <input type="text" id="firstName" formControlName="firstName">
          </div>
        </div>
        <div class="bd-input">
          <label for="lastName">Last Name:</label>
          <div>
            <input type="text" id="lastName" formControlName="lastName">
          </div>
        </div>
        <div class="bd-input">
          <label for="username">Username:</label>
          <div>
            <input type="text" id="username" formControlName="username">
          </div>
        </div>
      </div>
      <div class="__3">
        <div class="bd-input">
          <label for="email">Email:</label>
          <div>
            <input type="email" id="email" formControlName="email">
          </div>
        </div>
        <div class="bd-input">
          <label for="phoneNumber">Phone:</label>
          <div>
            <input type="text" id="phoneNumber" formControlName="phoneNumber">
          </div>
        </div>
        <div class="bd-input">
          <label for="role">Role:</label>
          <div>
            <select name="" id="role" formControlName="role">
              <option value="1">User</option>
              <option value="2">Seller</option>
              <option value="3">Admin</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-main btn-lg" type="submit" [disabled]="userForm.invalid">Update</button>
    </form>
  </div>
</section>