<div class="login-wrapper dp">
    <div>
        <div>
            <h1 class="headline gradient-txt">Giriş Yap</h1>
            <div class="form-wrapper">
                <div class="bd-input">
                    <div>
                      <input type="text" id="username" [(ngModel)]="username" placeholder="Kullanıcı Adı">
                    </div>
                </div>
                <div class="bd-input">
                    <div>
                      <input type="password" id="password" [(ngModel)]="password" placeholder="Şifre">
                    </div>
                </div>
                <div class="double">
                    <div class="cb">
                        <input type="checkbox" name="remember_me" id="agree-cb">
                        <label for="agree-cb">Beni hatırla</label>
                    </div>
                    <a class="link-btn" href="login">Şifremi Unuttum</a>
                </div>
                <button (click)="login()">Giriş Yap</button>
                <a href="register" class="redirect-link">Kayıt Ol</a>
            </div>
            <div class="abs-1"></div>
            <div class="abs-2"></div>
        </div>
    </div>
</div>