<div class="login-wrapper dp">
    <div>
        <div>
            <h1 class="headline gradient-txt">Kayıt Ol</h1>
            <div class="form-wrapper">
                <div class="bd-input">
                    <div>
                        <input type="text" id="firstName" [(ngModel)]="firstName" placeholder="Ad">
                    </div>
                </div>
                <div class="bd-input">
                    <div>
                        <input type="text" id="lastName" [(ngModel)]="lastName" placeholder="Soyad">
                    </div>
                </div>
                <div class="bd-input">
                    <div>
                        <input type="text" id="username" [(ngModel)]="username" placeholder="Kullanıcı Adı">
                    </div>
                </div>
                <div class="bd-input">
                    <div>
                        <input type="text" id="email" [(ngModel)]="email" placeholder="E-Posta">
                    </div>
                </div>
                <div class="bd-input">
                    <div>
                        <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" placeholder="Telefon Numarası">
                    </div>
                </div>
                <div class="bd-input">
                    <div>
                        <input type="password" id="password" [(ngModel)]="password" placeholder="Şifre">
                    </div>
                </div>
                <button (click)="register()">Kayıt Ol</button>
                <a href="login" class="redirect-link">Giriş Yap</a>
            </div>
            <div class="abs-1"></div>
            <div class="abs-2"></div>
        </div>
    </div>
</div>