<header>
  <div>
    <div class="l">
      <a routerLink="/home" class="logo" aria-label="Anasayfa">
        <img src="../assets/images/logo.jpg" alt="Logo">
      </a>
    </div>
    <div class="c">
      <div class="top">
        <a routerLink="/home" class="logo" aria-label="Nearby">
          <img src="../assets/images/logo.jpg" alt="Logo">
          <span>NEARBY</span>
        </a>
        <button class="toggle-mobile-header"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="lucide lucide-xicon w-4 h-4 text-muted-foreground">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg></button>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li *ngIf="currentRole == 'Admin'" class="line"></li>
          <li *ngIf="currentRole == 'Admin'">
            <a href="">Admin</a>
            <div>
              <div>
                <ul>
                  <li><a routerLink="/user-list">Users</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li *ngIf="currentRole == 'Seller'" class="line"></li>
          <li *ngIf="currentRole == 'Seller'">
            <a href="">Seller</a>
            <div>
              <div>
                <ul>
                  <li><a routerLink="/add-product">Add Product</a></li>
                  <li><a routerLink="/my-products">My Products</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li *ngIf="!isVisitor && currentRole !== 'Admin'"><a routerLink="/my-orders">My Orders</a></li>
        </ul>
      </nav>
    </div>
    <div class="r">
      <span *ngIf="currentUser" title="{{ currentRoleText }}">{{ currentUser.username }}</span>
      <button *ngIf="!isLogging" routerLink="/register" class="btn btn-black-outlined"
        aria-label="Register">Register</button>
      <button *ngIf="!isLogging" routerLink="/login" class="btn btn-main" aria-label="Login">Login</button>
      <button *ngIf="isLogging" class="btn btn-main" (click)="logOut()" aria-label="Logout"><i
          class="fa-solid fa-arrow-right-from-bracket"></i></button>
      <button *ngIf="isLogging && currentRole !== 'Admin'" routerLink="/my-basket" class="basket-btn" aria-label="My Basket"><i
          class="fa-solid fa-basket-shopping"></i></button>
    </div>
    <div class="filter toggle-mobile-header"></div>
  </div>
</header>

<main class="fill">
  <router-outlet />
</main>

<footer>
  {{ '2025' }} &copy; All Rights Reserved
</footer>