<div class="forgot-reset-container">
  <h2>Reset Password</h2>
  <form (submit)="resetPassword(); $event.preventDefault();">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input type="password" id="password" [value]="newPassword" (input)="newPassword = $any($event.target).value"
        placeholder="Enter new password" />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" [value]="confirmPassword"
        (input)="confirmPassword = $any($event.target).value" placeholder="Confirm new password" />
    </div>
    <button type="submit" [disabled]="isSubmitting || !newPassword || newPassword !== confirmPassword">Reset
      Password</button>
  </form>
</div>